<!DOCTYPE html>
<html>
<head>
    <title>Mega Escritorio</title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderPage("~/Shared/_Header.cshtml")
    <div id="main">
      @RenderBody()
    </div>
    @RenderPage("~/Shared/_Footer.cshtml")
</body>
</html>
