<form name="newOrder">
    <label>Width: </label>
    <input name="width" type="text" />
    <label>Length: </label>
    <input name="width" type="text" />
    <label>Material: </label>
    <select>
        <option>Oak</option>
        <option>Laminate</option>
        <option>Pine</option>
        <option>Marble</option>
        <option>Cedar</option>
        <option>Aluminum</option>
    </select>

    <input type="submit" value="Submit Order"/>
</form>
