<div name="grid">
    @grid.GetHtml(
                    tableStyle: "grid",
                    headerStyle: "head",
                    alternatingRowStyle: "alt",
                    columns: grid.Columns
                        (grid.Column("Customer")
                        , grid.Column("Width")
                        , grid.Column("Length")
                        , grid.Column("Material")
                        , grid.Column("Drawers")
                        , grid.Column("Rush Days"))
                )
</div>